app-scheduler-one-time-event, app-scheduler-weekly-event {
  display: flex;
  margin: 1em;
  width: 350px;
}

@media (max-width: 800px) {
  app-scheduler-one-time-event, app-scheduler-weekly-event {
    width: auto;
  }
}

@media (min-width: 800px) {
  .event-container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: left;
  }
}
