<ng-container *ngIf="isInitialized">
  <!-- All Items View -->
  <ng-container *ngIf="!hasSelectedItem">
    <mat-toolbar>
      <span class="toolbar-title">
        {{doesShowAllArticles ? 'All Articles' : 'Starred Articles'}}
      </span>
      <button mat-button color="primary" (click)="doesShowAllArticles = !doesShowAllArticles">
        {{doesShowAllArticles ? 'Starred' : 'All' }}
      </button>
      <button mat-button color="primary"
              *ngIf="!isAllRead"
              (click)="markAllAsRead()">
        Read All
      </button>
      <button mat-button color="primary"
              *ngIf="isAllRead"
              (click)="markAllAsUnread()">
        Unread All
      </button>
    </mat-toolbar>
    <mat-list *ngIf="doesShowAllArticles" (scroll)="onScroll($event)">
      <mat-list-item *ngFor="let item of feed"
                     [class.item-read]="item.isRead"
                     (click)="readItem(item)">
        <app-rss-reader-user-feed-item [item]="item"></app-rss-reader-user-feed-item>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngIf="canLoadMoreFeed"
                     [class.load-more-disabled]="isLoadingMore"
                     (click)="loadMoreFeed()">
        Load More ...
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="!doesShowAllArticles">
      <mat-list-item *ngFor="let item of starredArticles"
                     [class.item-read]="item.isRead"
                     (click)="readItem(item)">
        <app-rss-reader-user-feed-item [item]="item"></app-rss-reader-user-feed-item>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <!-- Article View -->
  <ng-container *ngIf="hasSelectedItem">
    <mat-toolbar>
      <mat-icon class="back-button" (click)="goBackToItemList()">arrow_back</mat-icon>
      <span class="toolbar-title">Article</span>
      <button mat-button color="primary" (click)="toggleStar()">
        <mat-icon>{{selectedItem.isStarred ? 'star' : 'star_border'}}</mat-icon>
        <span>{{selectedItem.isStarred ? ' Unstar' : ' Star'}}</span>
      </button>
      <button mat-button color="primary" (click)="markAsUnread()">Unread</button>
    </mat-toolbar>
    <mat-card>
      <mat-card-title>{{selectedItem.title}}</mat-card-title>
      <mat-card-content>
        <div [innerHTML]="selectedItem.description"></div>
      </mat-card-content>
      <mat-card-actions>
        <!--suppress HtmlUnknownAttribute -->
        <a mat-button color="primary" [href]="selectedItem.link" target="_blank">
          Original Article
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ng-container>
