<mat-card>
  <mat-card-title>Add new friends</mat-card-title>
  <mat-card-content>
    <div class="search-box-container">
      <mat-form-field class="search-box">
        <input matInput type="email" [(ngModel)]="emailInput"
               placeholder="Friend's Email" (keypress)="search($event)">
      </mat-form-field>
      <button mat-button color="primary"
              [disabled]="!emailInput.trim()"
              (click)="search()">Search</button>
    </div>
  </mat-card-content>
</mat-card>
<app-user-card *ngIf="foundUser" [user]="foundUser">
  <button mat-button color="accent" (click)="addFriendRequest()">Send Friend Request</button>
  <button mat-button color="accent" (click)="foundUser = undefined">Close</button>
</app-user-card>
<mat-divider></mat-divider>
<div class="section-text" *ngIf="data.list.length > 0">Your Friends</div>
<app-user-card *ngFor="let user of data.list" [user]="user">
  <button mat-button color="accent" (click)="removeFriend(user, i)">Unfriend</button>
</app-user-card>
<div class="section-text" *ngIf="data.list.length === 0">You do not have any friends.</div>
<mat-divider></mat-divider>
<div class="section-text" *ngIf="data.requests.length > 0">Your Friend Requests</div>
<app-user-card *ngFor="let user of data.requests; let i = index" [user]="user">
  <button mat-button color="accent" (click)="respondToFriendRequest(user, i, true)">Accept</button>
  <button mat-button color="accent" (click)="respondToFriendRequest(user, i, false)">Reject</button>
</app-user-card>
<div class="section-text" *ngIf="data.requests.length === 0">
  You do not have any friend requests.
</div>
