/*  Tablet and Mobile */
@media (max-width: 900px) {
  mat-expansion-panel {
    width: 90%;
    margin: 1em auto;
  }
}

/*  Desktop */
@media (min-width: 900px) {
  mat-expansion-panel {
    margin: 1em auto;
    width: 600px;
  }
}

mat-panel-description {
  align-items: center;
}

mat-panel-description span {
  margin-right: 1em;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

li {
  margin-right: 1em;
}

.sentence {
  margin-top: 0.5em;
}
