<h2 mat-dialog-title>{{key ? 'Edit' : 'Add'}} Scheduler Project</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="title" placeholder="Project Title" type="text" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Deadline Date"
           [formControl]="dateFormControl" [required]="true">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Deadline Hour" [required]="true" [(ngModel)]="hour">
      <mat-option *ngFor="let h of possibleHours" [value]="h">{{h}}:00</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="isGroupProject" placeholder="Group Project?" required hidden>
    <mat-checkbox [(ngModel)]="isGroupProject">Yes, this is a group project.</mat-checkbox>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput [(ngModel)]="minimumTimeUnits"
             placeholder="Minimum time units required to work on it consecutively."
             required hidden>
      <span [ngPlural]="minimumTimeUnits">
        <ng-template ngPluralCase="=1">1 hour</ng-template>
        <ng-template ngPluralCase="other">{{minimumTimeUnits}} hours</ng-template>
      </span>
      <mat-slider [thumbLabel]="true"
                  [min]="1" [max]="5" [(ngModel)]="minimumTimeUnits"></mat-slider>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput [(ngModel)]="estimatedTimeUnits"
             placeholder="Estimated number of time units to complete it."
             required hidden>
      <span [ngPlural]="estimatedTimeUnits">
        <ng-template ngPluralCase="=1">1 hour</ng-template>
        <ng-template ngPluralCase="other">{{estimatedTimeUnits}} hours</ng-template>
      </span>
      <mat-slider [thumbLabel]="true"
                  [min]="1" [max]="20" [(ngModel)]="estimatedTimeUnits"></mat-slider>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput [(ngModel)]="weight" placeholder="Weight" hidden>
      Value: {{weight}}
      <mat-slider [thumbLabel]="true" [min]="1" [max]="10" [(ngModel)]="weight"></mat-slider>
    </label>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="detail"
              placeholder="Project Detail (Optional)" type="text"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="null">Cancel</button>
  <button color="primary" mat-button
          [mat-dialog-close]="generatedProject"
          [disabled]="submitDisabled">
    Submit
  </button>
</mat-dialog-actions>
