<!--suppress HtmlUnknownAttribute -->
<mat-card itemscope itemtype="https://schema.org/Product">
  <img [src]="data.logo" [alt]="data.name" mat-card-image itemprop="image"/>
  <mat-card-content itemprop="description">{{data.intro}}</mat-card-content>
  <span class="project-name" itemprop="name">{{data.name}}</span>
  <mat-card-actions>
    <a mat-button color="primary" *ngIf="data.routerLink" [routerLink]="[data.routerLink]">
      <mat-icon>call_made</mat-icon>
      Try
    </a>
    <a mat-button color="primary" *ngIf="data.externalResource"
       [href]="data.externalResource.link" target="_blank">
      <mat-icon>open_in_new</mat-icon>
      {{data.externalResource.prompt}}</a>
  </mat-card-actions>
</mat-card>
