@import '~@angular/material/theming';

$blue-gray: mat-color(mat-palette($mat-blue-gray, 500));

:host, app-project-card {
  background-color: $blue-gray;
}

@media (min-width: 1350px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
  }
}

@media (min-width: 1080px) and (max-width: 1350px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 330px 330px 330px;
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1080px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 280px 280px 280px;
    justify-content: center;
  }
}
