<h2 mat-dialog-title>Add Article for Analysis</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="rawArticle.title" #title="ngModel" type="text"
           placeholder="Title" required minlength="1" maxlength="500">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="rawArticle.content" #content="ngModel" type="text"
              placeholder="Content" required minlength="50" maxlength="500000"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="null">Cancel</button>
  <button color="primary" mat-button [mat-dialog-close]="rawArticle"
          [disabled]="title.invalid || content.invalid">
    Submit
  </button>
</mat-dialog-actions>
