@media (min-width: 800px) {
  .projects-container {
    display: block;
    column-count: 2;
    column-gap: 1em;
    column-fill: initial;
  }
}

@media (min-width: 800px) {
  app-project-card {
    margin: 0 auto;
  }
}
