div {
  width: 100%;
  height: 100%;
  border: 1px solid #CCC;
}

.black-cell {
  background-color: black;
}

.white-cell {
  background-color: white;
}

.empty-cell {
  background-color: #DDDDDD;
}

.highlight {
  border: 1px solid red;
}
