<mat-card>
  <mat-card-title class="game-card-header">TEN Game</mat-card-title>
  <mat-card-subtitle class="game-card-header">{{tenService.message}}
  </mat-card-subtitle>
  <mat-card-subtitle class="game-card-header">
    Your Identity:
    {{tenService.board.currentPlayerIdentity == 1 ? 'Black': 'White'}}
  </mat-card-subtitle>
  <mat-card-subtitle class="game-card-header">
    AI Winning Probability: {{tenService.aiWinningProbability}}%
  </mat-card-subtitle>
  <mat-card-content class="game-cells">
    <app-blocking-overlay
      [active]="tenService.blockerActive"></app-blocking-overlay>
    <div class="grids">
      <app-ten-cell *ngFor="let tuple of tupleArray"
                    [state]="tenService.board.getCell(tuple)"
                    [bigSquare]="tuple[0]"
                    [smallSquare]="tuple[1]"></app-ten-cell>
      <div class="grids-vertical-line" style="left: 103px"></div>
      <div class="grids-vertical-line" style="left: 196px"></div>
      <div class="grids-horizontal-line" style="top: 99px"></div>
      <div class="grids-horizontal-line" style="top: 199px"></div>
    </div>
  </mat-card-content>
  <mat-card-actions class="game-card-controls">
    <span class="game-card-controls-text">New Game</span>
    <button mat-button
            [disabled]="tenService.controlBlocked"
            (click)="tenService.resetDataAndSelectSide(1)">Play as Black
    </button>
    <button mat-button
            [disabled]="tenService.controlBlocked"
            (click)="tenService.resetDataAndSelectSide(-1)">Play as White
    </button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Rule of the Game</mat-card-title>
  <mat-card-content>
    The rules are mostly the same with the original TEN game, except that a draw is a win for white
    in this game.
  </mat-card-content>
  <mat-card-content>The thinking time for AI is around 1.5s.</mat-card-content>
</mat-card>
