.game-card-header {
  text-align: center;
}

.game-card-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card-controls-text {
  margin: 0 4px 4px 4px;
  padding: 0 16px;
}

.game-cells {
  display: flex;
  justify-content: center;
  position: relative;
}

.grids {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
}

.grids-vertical-line {
  background: #333;
  width: 1px;
  height: 300px;
  position: absolute;
  top: 0;
}

.grids-horizontal-line {
  background: #333;
  width: 300px;
  height: 1px;
  position: absolute;
  left: 0;
}

app-ten-cell {
  width: 23px;
  height: 23px;
  margin: 4px;
  cursor: pointer;
}
